// 侧边栏公用样式
//参考：https://github.com/ElemeFE/element/issues/12951
$menuText:#bfcbd9;//菜单文字
$menuActiveText:#409EFF;//菜单激活文字
$subMenuActiveText:#f4f4f5; //子菜单激活文字

$menuBg:#304156;//菜单背景
$menuHover:#263445;//鼠标悬停菜单背景

$subMenuBg:#1f2d3d;//子菜单背景
$subMenuHover:#001528;//鼠标悬停子菜单背景

$sideBarWidth: 210px;//侧边栏宽度

// the :export directive is the magic sauce for webpack
//参考： https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
